@{
    ViewData["Title"] = "Registrar Cliente";
}

    <h1>Clientes</h1>

    <form method="post">
        
        <input type="text" name="NameLastname"/>
        <input type="number" name="NroDocumento" />
        <input type="text" name="TipoDeDocumento" />
        <input type="datetime" name="FechadeNacimiento" />        

        <button type="submit">Agregar</button>    
    </form>


